<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="TEST_CENTER_URL" value="http://localhost:5000" />
    <add key="AGENT_PORT" value="5001" />
    <add key="AGENT_URL" value="http://localhost:5001" />
    <add key="AGENT_DIR_PATH" value="D:/agents/agent-5001" />
    <add key="DEVICES_TO_CREATE_PATH" value="D:/agents/agent-5001/devices_to_create.json" />
    <add key="PROCESSES_PATH" value="D:/agents/agent-5001/processes.json" />
    <add key="MAX_DEVICES_TO_CREATE" value="2" />
    <add key="SCRIPT_PATH" value="D:/agents/agent-5001/activation_script.txt" />
    <add key="DEVICE_FOLDERS_DIR" value="D:/deviceFolders" />
    <add key="OUTPUT" value="D:/agents/agent-5001/output.txt" />
    <add key="PYTHON_SCRIPTS_PATH" value="C:/Users/Elad.Kapuza/source/repos/agentapi/Console/Python" />
    <add key="PROCESS_UPTIME_IN_MS" value="30000" />
  </appSettings>
</configuration>